[Unit]
Description=MySQL Exporter
After=network.target

[Service]
ExecStart={{ mysqld_exporter_symlink }} \
            -config.my-cnf {{ mysqld_exporter_config_my_cnf }} \
            -log.level {{ mysqld_exporter_log_level }} \
            -web.listen-address {{ mysqld_exporter_web_listen_address }} \
            -web.telemetry-path {{ mysqld_exporter_web_telemetry_path }} {% for collector_flag in mysqld_exporter_collector_flags %} {{ collector_flag }} {% endfor %}

[Install]
WantedBy=multi-user.target